<div ng-controller="homeController">

    <!--header-->
    <ng-include src="'templates/components/header.html'"></ng-include>
    <!--/header-->

    <!--slider-->
    <ng-include src="'templates/components/slider.html'"></ng-include>
    <!--/slider-->

    <!-- section -->
    <ng-include src="'templates/components/section_left-sidebar.html'"></ng-include>
    <ng-include src="'templates/components/section_rightbar.html'"></ng-include>
    <!-- /section -->

    <!--Footer-->
    <ng-include src="'templates/components/footer.html'"></ng-include>
    <!--/Footer-->

</div> 