<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#/home" class="site_title"><i class="fa fa-book"></i> <span>Việt Book</span></a>
        </div>

        <div class="clearfix"></div>
        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a href="#!/home"><i class="fa fa-home"></i>Home</a></li>
                    <li><a><i class="fa fa-user"></i>Admin<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/admin/list">Admin list</a></li>
                            <li><a href="#!/add/admin">Add Admin</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-pencil"></i>Authors<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/author/list">Author List</a></li>
                            <li><a href="#!/add/author">Add Author</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-book"></i> Books <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/book/list">Book List</a></li>
                            <li><a href="#!/add/book">Add Book</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-language"></i>Book's Languages<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/language/list">Book's Language List</a></li>
                            <li><a href="#!/add/language">Add More Language</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-bars"></i>Categories<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/category/list">Category List</a></li>
                            <li><a href="#!/add/category">Add Category</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-comments"></i>Comments<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/comment/list">Customer's Comments List</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-shopping-bag"></i>Customer<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/customer/list">Customer List</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-comment-o"></i>Feedbacks<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/feedback/list">Feedback List</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-list"></i>Genres<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/genre/list">Genre list</a></li>
                            <li><a href="#!/add/genre">Add Genre</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-first-order"></i>Order<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/order/list">Order List</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-users"></i>Publishers<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#!/publisher/list">Publisher list</a></li>
                            <li><a href="#!/add/publisher">Add publisher</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>