<!--category-tab-->
<div class="category-tab shop-details-tab">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="#!/details" data-toggle="tab">Details</a></li>
            <li><a href="#!/companyprofile" data-toggle="tab">Company Profile</a></li>
            <li><a href="#!/tag" data-toggle="tab">Tag</a></li>
            <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade" id="details">
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery1.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery2.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery3.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery4.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="companyprofile">
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery1.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery3.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery2.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery4.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tag">
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery1.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery2.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery3.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="book-image-wrapper">
                    <div class="single-books">
                        <div class="bookinfo text-center">
                            <img src="images/home/gallery4.jpg" alt=""/>
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <button type="button" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--/category-tab-->