<!--recommended_books-->
<div class="recommended_books">
    <h2 class="title text-center">recommended books</h2>

    <div id="recommended-book-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="col-sm-4">
                    <div class="book-image-wrapper">
                        <div class="single-books">
                            <div class="bookinfo text-center">
                                <img src="images/home/adventure02.jpg" alt=""/>
                                <p>The new book</p>
                                <h4>$56 <span>$40</span></h4>

                                <div><a href="#!/book/detail" class="btn btn-warning d10">Detail</a></div>
                                <div><a href="#!/cart" class="btn btn-default add-to-cart"><i
                                        class="fa fa-shopping-cart"></i>Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="book-image-wrapper">
                        <div class="single-books">
                            <div class="bookinfo text-center">
                                <img src="images/home/adventure02.jpg" alt=""/>
                                <p>The new book</p>
                                <h4>$56 <span>$40</span></h4>

                                <div><a href="#!/book/detail" class="btn btn-warning d10">Detail</a></div>
                                <div><a href="#!/cart" class="btn btn-default add-to-cart"><i
                                        class="fa fa-shopping-cart"></i>Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="book-image-wrapper">
                        <div class="single-books">
                            <div class="bookinfo text-center">
                                <img src="images/home/adventure02.jpg" alt=""/>
                                <p>The new book</p>
                                <h4>$56 <span>$40</span></h4>

                                <div><a href="#!/book/detail" class="btn btn-warning d10">Detail</a></div>
                                <div><a href="#!/cart" class="btn btn-default add-to-cart"><i
                                        class="fa fa-shopping-cart"></i>Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-4">
                    <div class="book-image-wrapper">
                        <div class="single-books">
                            <div class="bookinfo text-center">
                                <img src="images/home/adventure02.jpg" alt=""/>
                                <p>The new book</p>
                                <h4>$56 <span>$40</span></h4>

                                <div><a href="#!/book/detail" class="btn btn-warning d10">Detail</a></div>
                                <div><a href="#!/cart" class="btn btn-default add-to-cart"><i
                                        class="fa fa-shopping-cart"></i>Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="book-image-wrapper">
                        <div class="single-books">
                            <div class="bookinfo text-center">
                                <img src="images/home/adventure02.jpg" alt=""/>
                                <p>The new book</p>
                                <h4>$56 <span>$40</span></h4>

                                <div><a href="#!/book/detail" class="btn btn-warning d10">Detail</a></div>
                                <div><a href="#!/cart" class="btn btn-default add-to-cart"><i
                                        class="fa fa-shopping-cart"></i>Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="book-image-wrapper">
                        <div class="single-books">
                            <div class="bookinfo text-center">
                                <img src="images/home/adventure02.jpg" alt=""/>
                                <p>The new book</p>
                                <h4>$56 <span>$40</span></h4>

                                <div><a href="#!/book/detail" class="btn btn-warning d10">Detail</a></div>
                                <div><a href="#!/cart" class="btn btn-default add-to-cart"><i
                                        class="fa fa-shopping-cart"></i>Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left recommended-book-control" href="#recommended-book-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-book-control" href="#recommended-book-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!--/recommended_books-->