<!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
        <a href=""><img src="images/book-details/similar1.jpg" alt=""></a>
        <a href=""><img src="images/book-details/similar2.jpg" alt=""></a>
        <a href=""><img src="images/book-details/similar3.jpg" alt=""></a>
    </div>
    <div class="item">
        <a href=""><img src="images/book-details/similar1.jpg" alt=""></a>
        <a href=""><img src="images/book-details/similar2.jpg" alt=""></a>
        <a href=""><img src="images/book-details/similar3.jpg" alt=""></a>
    </div>
    <div class="item">
        <a href=""><img src="images/book-details/similar1.jpg" alt=""></a>
        <a href=""><img src="images/book-details/similar2.jpg" alt=""></a>
        <a href=""><img src="images/book-details/similar3.jpg" alt=""></a>
    </div>
</div>
<!-- /Wrapper for slides -->  