<div class="container body" ng-controller="homeController">
    <div class="main_container">
        <!-- Navigation -->
        <ng-include src="'templates/components/main_nav.html'"></ng-include>
        <!-- /Navigation -->

        <!-- top navigation -->
        <ng-include src="'templates/components/top_nav.html'"></ng-include>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <ng-include src="'templates/components/footer.html'"></ng-include>
        <!-- /footer content -->
    </div>
</div>