<div class="container body" ng-controller="authorListController">
    <div class="main_container">
        <!-- Navigation -->
        <ng-include src="'templates/components/main_nav.html'"></ng-include>
        <!-- /Navigation -->

        <!-- top navigation -->
        <ng-include src="'templates/components/top_nav.html'"></ng-include>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
                            <h4 class="modal-title">Edit Form</h4>
                            <h3 class="text-success text-center">{{messageEdit}}</h3>
                        </div>
                        <div class="modal-body">
                            <form name="authorEditForm" class="form-horizontal" >
                                <div class="form-group">
                                    <label class="control-label col-sm-2">First Name:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="firstName" ng-model="author.aut_firstName"
                                               ng-maxlength="50"  placeholder="Enter First Name" required/>
                                    </div>
                                    <div ng-show="authorEditForm.firstName.$dirty && authorEditForm.firstName.$invalid" class="text-danger col-sm-4">
                                        <span ng-show="authorEditForm.firstName.$error.required">*Please Enter The Author First Name*</span>
                                        <span ng-show="authorEditForm.firstName.$error.maxlength">*First Name must has less than 50 letters*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Last Name:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="lastName" ng-model="author.aut_lastName"
                                               ng-maxlength="50" placeholder="Enter Last Name" required/>
                                    </div>
                                    <div ng-show="authorEditForm.lastName.$dirty && authorEditForm.lastname.$invalid" class="text-danger col-sm-4">
                                        <span ng-show="authorEditForm.lastName.$error.required">*Please Enter The Author Last Name*</span>
                                        <span ng-show="authorEditForm.lastName.$error.maxlength">*Last Name must has less than 50 letters*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Phone:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-maxlength="30"
                                               ng-pattern="/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/"
                                               name="phone" ng-model="author.aut_phone" placeholder="Enter Phone "/>
                                    </div>
                                    <div ng-show="authorEditForm.phone.$dirty && authorEditForm.phone.$invalid" class="text-danger col-sm-4">
                                        <span ng-show="authorEditForm.phone.$error.maxlength">*Phone must has less than 30 letters*</span>
                                        <span ng-show="authorEditForm.phone.$error.pattern">*Please enter the numbers only*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Email:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-maxlength="100" name="email" ng-model="author.aut_email" placeholder="Enter Email"/>
                                    </div>
                                    <div ng-show="authorEditForm.email.$dirty && authorEditForm.email.$invalid" class="text-danger col-sm-4">
                                        <span ng-show="authorEditForm.email.$error.maxlength">*Email must has less than 100 letters*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Remark:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="remark" ng-maxlength="500" ng-model="author.remark" />
                                    </div>
                                    <div ng-show="authorEditForm.remark.$dirty && authorEditForm.remark.$invalid" class="text-danger col-sm-4">
                                        <span ng-show="authorEditForm.remark.$error.maxlength">*Remark must has less than 500 letters*</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-info" ng-click="update()">Edit</button>
                            <button type="button" class="btn btn-default btn-info" data-dismiss="modal" ng-click="close()">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <table id="authorList" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Remark</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="x in authorList">-->
                    <!--<td>{{x.aut_firstName}}</td>-->
                    <!--<td>{{x.aut_lastName}}</td>-->
                    <!--<td>{{x.aut_email}}</td>-->
                    <!--<td>{{x.aut_phone}}</td>-->
                    <!--<td>{{x.remark}}</td>-->
                    <!--<td><a href="#/edit/author/{{x.aut_id}}"><span class="fa fa-edit text-info"></span></a></td>-->
                    <!--<td><a href="#" ng-click="delete(x.aut_id)"><span class="fa fa-minus-circle text-danger"></span></a></td>-->
                <!--</tr>-->
                </tbody>
            </table>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <ng-include src="'templates/components/footer.html'"></ng-include>
        <!-- /footer content -->
    </div>
</div>
