<div class="container body" ng-controller="feedbackListController">
    <div class="main_container">
        <!-- Navigation -->
        <ng-include src="'templates/components/main_nav.html'"></ng-include>
        <!-- /Navigation -->

        <!-- top navigation -->
        <ng-include src="'templates/components/top_nav.html'"></ng-include>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
        
        	<!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" >&times;</button>
                            <h4 class="modal-title">Edit Form</h4>
                            <h3 class="text-success text-center">{{messageEdit}}</h3>
                        </div>
                        <div class="modal-body">
                            <form name="feeEditForm" class="form-horizontal" >
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Status:</label>
                                    <fieldset name="status" class="col-sm-6" required>
                                        <input type="radio" ng-model="feedback.status" class="form-control" id="status0"  name="status" ng-value="0"/> New
                                        <input type="radio" ng-model="feedback.status" class="form-control" id="status1" name="status" ng-value="1"/> Read
                                        <input type="radio" ng-model="feedback.status" class="form-control" id="status2" name="status" ng-value="2"/> Spam
                                        <input type="radio" ng-model="feedback.status" class="form-control" id="status3" name="status" ng-value="3"/> Answered
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-info" ng-click="update()">Edit</button>
                            <button type="button" class="btn btn-default btn-info" data-dismiss="modal" ng-click="close()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Modal -->

        
        
            <table id="feedbackList" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Customer Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <ng-include src="'templates/components/footer.html'"></ng-include>
        <!-- /footer content -->
    </div>
</div>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>