<div class="container body" ng-controller="bookListController">
    <div class="main_container">
        <!-- Navigation -->
        <ng-include src="'templates/components/main_nav.html'"></ng-include>
        <!-- /Navigation -->

        <!-- top navigation -->
        <ng-include src="'templates/components/top_nav.html'"></ng-include>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
                            <h4 class="modal-title">Edit Form</h4>
                            <h3 class="text-success text-center">{{messageEdit}}</h3>
                        </div>
                        <div class="modal-body">
                            <form name="bookEditForm" class="form-horizontal" >
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Retail Price:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="retailPrice"
                                               ng-model="book.retailPrice" value="0.0" ng-pattern="/^[0-9]+\.?[0-9]*$/"
                                               required/>
                                    </div>
                                    <div ng-show="bookEditForm.retailPrice.$dirty && bookAddForm.retailPrice.$invalid"
                                         class="text-danger col-sm-4">
                                        <span ng-show="bookEditForm.retailPrice.$error.required">*Please enter the retail price*</span>
                                        <span ng-show="bookEditForm.retailPrice.$error.pattern">*Invalid price! Please enter again*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Sale Price:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="salePrice" ng-model="book.salePrice"
                                               value="0.0" ng-pattern="/^[0-9]+\.?[0-9]*$/"/>
                                    </div>
                                    <div ng-show="bookEditForm.salePrice.$dirty && bookAddForm.retailPrice.$invalid"
                                         class="text-danger col-sm-4">
                                        <span ng-show="bookEditForm.salePrice.$error.pattern">*Invalid price! Please enter again*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Description</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="description" ng-model="book.description"
                                               ng-maxlength="500" placeholder="Description" />
                                    </div>
                                    <div ng-show="bookEditForm.description.$dirty && bookEditForm.description.$invalid"
                                         class="text-danger col-sm-4">
                                        <span ng-show="bookEditForm.description.$error.maxlength">*Description must be less than 500 letters*</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Status:</label>
                                    <fieldset name="status" class="col-sm-6" required>
                                        <input type="radio" ng-model="status" class="form-control" id="status0"  name="status" ng-value="0"/>Old
                                        <input type="radio" ng-model="status" class="form-control" id="status1" name="status" ng-value="1"/> New
                                        <input type="radio" ng-model="status" class="form-control" id="status2" name="status" ng-value="2"/> Sale
                                        <input type="radio" ng-model="status" class="form-control" id="status3" name="status" ng-value="3"/> Best Seller
                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Active:</label>
                                    <fieldset name="isActive" class="col-sm-6">
                                        <input type="radio" ng-model="isActive" class="form-control" id="yesActive" name="activeRadio"  ng-value="true" />Yes
                                        <input type="radio" ng-model="isActive" class="form-control" id="noActive" name="activeRadio" ng-value="false"/> No
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-info" ng-click="update()">Edit</button>
                            <button type="button" class="btn btn-default btn-info" data-dismiss="modal" ng-click="close()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Modal -->

            <table id="bookList" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Status</th>
                    <th>Retail Price</th>
                    <th>Sale Price</th>
                    <th>Quantity</th>
                    <th>Active</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <ng-include src="'templates/components/footer.html'"></ng-include>
        <!-- /footer content -->
    </div>
</div>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>